/.metadata/

# Compiled Objects & Debugging
*/FlashOnly_OAD
*/FlashROM
*/.launches
*.opt
*.cmd
# Configs
*/.config

# XDC artifacts
*/.xdchelp

# VS Code
.vscode

# JX browser
.jxbrowser-data

# Others
RemoteSystemsTempFiles

# Libs & Imported Projects
bim_extflash
ble_sdk_2_02_01_18
tirtos_cc13xx_cc26xx_2_20_01_08
# sensortag_cc2650stk_stack